body {
    font-family: "Helvetica Neue", Arial;
}

.thumb {
    float: left;
    padding-right: 9px;
}

.app {
    margin:auto;
    width:1100px;
    height: 580px;
    background: black;
    color: whitesmoke;
}

.playlist {
    max-height:520px;
    max-width: 320px;
    overflow: auto;
    left: 0;
    top: 0;
    zoom: 1;
    list-style: none;
    margin-left: 0;
    padding-top: 30px;
    padding-left: 10px;
}

.playlist > li {
    height:70px;
    margin-bottom: .375em;
}

.playlist a {
    color: #fff;
}

.playlist a.active {
    color: #E4CB00;
}

.player {
    float: left;
    width: 600px;
    margin-left: 40px;
    overflow: auto;
    padding: 5px;
}